<div class="forms">
  <div class="form from">
    <label for="from">From</label>
    <select id="from" name="from" [(ngModel)]="fromCurrency" (change)="directCalculate()">
      <option *ngFor="let item of rates" value="{{item.title}}">{{item.title}}</option>
    </select>
    <label for="fromAmount">Amount</label>
    <input type="number" [(ngModel)]="fromValue" value="" id="fromAmount" (input)="directCalculate()" />
  </div>
  <div class="form to">
    <label for="to">To</label>
    <select id="to" name="from" [(ngModel)]="toCurrency" (change)="directCalculate()">
      <option *ngFor="let item of rates" value="{{item.title}}">{{item.title}}</option>
    </select>
    <label for="toAmount">Amount</label>
    <input type="number" [(ngModel)]="toValue" id="toAmount" placeholder="0" (input)="reverseCalculate()" />
  </div>
</div>
